@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Quattrocento&family=Satisfy&display=swap%22");
.successPageDiv {
  height: 100vh;
  background-color: #ce2829;
}
.successTeknolojik {
  text-align: center;
  padding-top: 5rem;
}
.lezzetinYolda{
  font-family: "Satisfy";
  color: #FDC913;
}
.successTeknolojik h1 {
  color: #faf7f2;
}
.orderSuccesText {
  margin-top: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.orderSuccesText p {
  font-size: 4rem;
  
}
.siparisinizAlındı{
  color: #faf7f2;
}
.adisyonPizza {
  text-align: center;
  color: #faf7f2;
}
.genelFisDiv {
  display: flex;
  justify-content: space-evenly;
}
.successFis {
  padding-top: 2rem;
  margin-top: 2rem;
  width: 20%;
  height: 25vh;
 
  border: 3px solid #faf7f2;
 
  text-align: center;
  color: #faf7f2;
}
.successBilgi {
  margin-top: 2rem;
  width: 40%;
  color: #faf7f2;
}
