
.FPOMD{
    margin-left: 25%;
    margin-right: 25%;
}
.FormPageHeader{
    background-color: #CE2829;
    height: 20vh;
    align-items: center;
}
.FormPageHeader h1{
    color: #FAF7F2;
    margin-block-start: 0;    
}
.FormPageHeader h4{
    text-align: start;   
    margin-top: 3.5rem;
    color: #FAF7F2;
}

.headerBaslıklar{
    text-align: center;
    padding-top: 4rem;
    margin-left: 25%;
    margin-right: 25%;
}

.FYPP p{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.FYPP{
    display: flex;
    justify-content: space-between;
}

.yıldız{
    color: red;
}
.OrdersDiv{
    display: flex;
    justify-content: space-between;
}
.CheckBoxDiv{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.NotInput{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
.Hr{
    margin-top: 1.5rem;
}
.CounterSide{
    
    display: flex;
    width: 15%;
    justify-content: space-between;
    height: 3rem;
}

.CounterAdisyon{
    display: flex;
    justify-content: space-between;
}
.AdisyonClass{
    width: 40%;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 2px;
}
.AdisyonClass h3{
    padding-left: 35%;
    
    
}
.Arttır{
    height: 3rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    background-color: #FDC913;
    border-radius: 2px;
}
.counterSayaci{
    font-weight: bold;
    
}
.Eksilt{
    height: 3rem;
    padding: 0.8rem;
    font-size: 1.1rem;
    background-color: #FDC913;
    border-radius: 2px;
}

.ButonCounter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Secimler{
    display: flex;
    justify-content: space-around;
}
.Secimler h4{
    color: #292929;
}
.Toplam{
    display: flex;
    justify-content: space-around;
}
.Toplam h4{
    color: #CE2829;
}


.SiparisVer{
    height: 2rem;
    width: 100%;
    background-color: #FDC913;
    border-radius: 2px;
}
.nameInput{
    margin-top: 1.5rem;
}