.FormPageHeader{
    
    background-color: #CE2829;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FormPageHeader h1{
    color: #FAF7F2;
    margin-block-start: 0
}

.FYPP p{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.FYPP{
    display: flex;
    justify-content: space-between;
}

.FPOMD{
    margin-left: 30%;
    margin-right: 30%;
}
.yıldız{
    color: red;
}
.OrdersDiv{
    display: flex;
    justify-content: space-around;
}
.CheckBoxDiv{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.NotInput{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}
.Hr{
    margin-top: 1.5rem;
}